body {
    background: 
        url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}


/* body{
    background-image: url("../images/background.jpg");
    background-size: cover;
} */

h1{
    color:teal;
    text-align: center;
}

p{
    color:white;
}