<!DOCTYPE html>

<html lang="en">
    <head>
        <title> Welcome to Sam's BookLibrary </title>
        <link rel="stylesheet" href="assets/css/style.css">
    </head>
    <body>
        <h1>LIBRARY APP</h1>
        <form action="" id = "input-form">
            <p id = "email-header">email</p>
            <input id = "email" type = "email" required>
            <p id = "password-header">password</p>
            <input id = "password" type = "password" required>
            <button>Login</button>
        </form>
    </body>
    <script src = "./assets/script/function.js"></script>
</html>